## Data Cleaning

* Data cleaning is data set specific but there are some common problems
    * Missing values
    * Duplicates
    * Reporting or collection bias or drift
    * Reporting or collection errors
* Data cleaning is more effective when it is combined with visualization and some preliminary modeling
* Decribe all the steps you take to load and clean the data so that you and others can repeat the process

### In Class Exercise

Use your functions or the ones below to load the train data into a dataframe and combine all the narrative fields into one variable: Narrative. Optionally, remove the previous narrative columns.

In [1]:
# Packages for loading, cleaning, visualization, and analysis

# Data
import pandas as pd
import numpy as np
import scipy as sp
import os
import string as st

In [2]:
# Function to get the files from a directory

def getallfiles(directory, extension = ".txt"):
    '''Get all files in directory with the specified extension
        and put them into a list.
        The default extension is txt. The directory parameter is the path to 
        the directory containing the files.'''
    filenames = os.listdir(directory)
    myfiles = []
    for e in filenames:
        if e.endswith(extension):
            myfiles.append(os.path.realpath(e))
    return myfiles

In [3]:
def createlist(directory, extension = ".txt"):
    '''Put all files in the specified directory
    with the chosen extension (txt is the default) 
    into a datafame'''
    os.chdir(directory)
    files = getallfiles(directory)
    filelist = []
    for i,file in enumerate(files):
        filelist.append(pd.read_csv(os.path.realpath(file), low_memory = False, encoding = "ISO-8859-1"))
    return(filelist)

In [7]:
# Create the data frame of all accidents

path = "/Users/Pan/Google Drive/Data Science/DS6001"
acts = createlist(path)
accidents_df = pd.concat(acts,ignore_index=True)
accidents_df.shape

(51623, 153)

In [8]:
# Join the narrative and put them in a list

def join_narratives(DF):
    '''With the input of the accident dataframe
    merge the narrative columns into a single narrative
    and return a list of these single narratives for each
    accident report in the dataframe. '''
    narrlist = []
    for i in range(0,15):
        a = str(i+1)
        narrlist.append('NARR'+ a)
    RailNarr = DF.loc[:, narrlist]
    Narratives = []
    for i, _ in enumerate(RailNarr["NARR1"]):
        NarrativeList = RailNarr.iloc[i]
        Anarrative = ""
        for narr in NarrativeList:
            if pd.isnull(narr):
                break
            else:
                Anarrative += str(narr)
    Narratives.append(Anarrative)

In [9]:
narrative_list = join_narratives(accidents_df)
accidents_df["Narrative"] = narrative_list

#Check by looking at narrative 3
accidents_df["Narrative"][3]

In [10]:
# Drop the old narrative columns
narrlist = []
for i in range(0,15):
    a = str(i+1)
    narrlist.append('NARR'+a)
accidents_df.drop(narrlist,axis =1,inplace=True)

## Duplicates

- Why should we remove duplicates?
- How should we remove them?

In [11]:
# Look at 3 approaches to removing duplicates

#Removing duplicates
accidents_clean_df = accidents_df.drop_duplicates(['YEAR','DAY','MONTH','TIMEHR'])
print(accidents_clean_df.shape)

#Using AMPM
accidents_clean_df = accidents_df.drop_duplicates(['YEAR','DAY','MONTH','TIMEHR','AMPM'])
print(accidents_clean_df.shape)

# Using the FRA FAQ (look at the source of the data)
accidents_clean_df = accidents_df[(accidents_df['JOINTCD']==1)&(accidents_df['TYPE']!=7)]
print(accidents_clean_df.shape)

(30677, 139)
(35453, 139)
(38167, 139)

## Missing Values

There are essentially 3 ways to handle missing values:

    1. Remove the columns (variables) with missing values
    2. Remove the row (observations) with missing values
    3. Impute the missing values

The choice of which of these to use depends on the problem and the data. If a variable does not seem important to the problem or if it has many missing values, then eliminating it is reasonable. Similarly if the observation appears to not represent the data or if it has many missing values, then eliminating it seems reasonable.
Imputation

Imputation can be done in may ways. The most common are the following:

    1. Replace the missing value with the mean
    2. Replace the missing value with the median
    3. Replace the missing value with the mode
    4. Use k-nn to
        1. Replace the missing value with the mean
        2. Replace the missing value with the median
        3. Replace the missing value with the mode
 
Options 1 and 2 can only be used with numeric or quantitative variables.

### In Class Exercise

1. Find out how many missing values we have by column (variable).
2. What technique or techniques should we use to handle them?
3. What methods from pandas or sklearn can we use for imputation? Why or how would we use them?

In [12]:
#How many missing values?

accidents_clean_df.isnull().sum()

ACCAUSE          0
ACCDMG           0
ACCTRK          55
ACCTRKCL        69
ADJUNCT1     32271
ADJUNCT2     37540
ADJUNCT3     37938
ALCOHOL      26857
AMPM             4
AMTRAK       36762
BRAKEMEN      2903
CABOOSE1         0
CABOOSE2         0
CARNBR1       1396
CARNBR2      33412
CARS             0
CARSDMG          0
CARSHZD          0
CASINJ           0
CASINJRR         0
CASKLD           0
CASKLDRR         0
CAUSE            0
CAUSE2       33474
CDTRHR        9012
CDTRMIN      12848
CNTYCD          11
CONDUCTR      1472
COUNTY           0
CauseCat     38167
             ...
SUBDIV       28208
TEMP             0
TIMEHR           0
TIMEMIN          0
TONS             0
TOTINJ           0
TOTKLD           0
TRKCLAS        216
TRKDMG           0
TRKDNSTY     22061
TRKNAME        230
TRNDIR        1744
TRNNBR        4188
TRNSPD           0
TYPE             0
TYPEQ         1384
TYPRR           16
TYPSPD        1423
TYPTRK         194
VISIBLTY         0
WEATHER          0
YEAR             0
YEAR4            0
adjunct1     38167
adjunct2     38167
adjunct3     38167
mopera       38167
signal       38167
subdiv       38167
Narrative    38167
Length: 139, dtype: int64

In [13]:
# Remove variables with more than 1.5K missing (about 4%)

accidents_clean_df = accidents_clean_df.dropna(axis=1,thresh = (38167-1500))
accidents_clean_df.isnull().sum()

ACCAUSE        0
ACCDMG         0
ACCTRK        55
ACCTRKCL      69
AMPM           4
CABOOSE1       0
CABOOSE2       0
CARNBR1     1396
CARS           0
CARSDMG        0
CARSHZD        0
CASINJ         0
CASINJRR       0
CASKLD         0
CASKLDRR       0
CAUSE          0
CNTYCD        11
CONDUCTR    1472
COUNTY         0
DAY            0
DUMMY3         0
EMPTYF1        0
EMPTYF2        0
EMPTYP1        0
EMPTYP2        0
ENGRS       1158
EQATT       1419
EQPDMG         0
EVACUATE       0
HEADEND1       0
            ...
RMAN1          0
RMAN2          0
RR3            0
RRCAR1      1405
RREM1          0
RREM2          0
RREMPINJ       0
RREMPKLD       0
STATE          0
STATION        1
STCNTY        11
TEMP           0
TIMEHR         0
TIMEMIN        0
TONS           0
TOTINJ         0
TOTKLD         0
TRKCLAS      216
TRKDMG         0
TRKNAME      230
TRNSPD         0
TYPE           0
TYPEQ       1384
TYPRR         16
TYPSPD      1423
TYPTRK       194
VISIBLTY       0
WEATHER        0
YEAR           0
YEAR4          0
Length: 87, dtype: int64

In [19]:
# This class imputes the missing values as
# (1) most frequent if the variable is categorical 
# (2) mean if the variable is real (floating point)
# (3) median if the variable is an integer 

# Here is a class that will provide imputation
# This is an extension by D.Brown to sveitser, 2014 https://stackoverflow.com/users/469992/sveitser

from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.
        
        Columns of dtype floating point are imputed with the mean.

        Columns of other types are imputed with median of the column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') 
                               else X[c].mean() if X[c].dtype == np.dtype('f')
                                else X[c].median() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [22]:
accidents_clean_df = DataFrameImputer().fit_transform(accidents_clean_df)

ACCAUSE     0
ACCDMG      0
ACCTRK      0
ACCTRKCL    0
AMPM        0
CABOOSE1    0
CABOOSE2    0
CARNBR1     0
CARS        0
CARSDMG     0
CARSHZD     0
CASINJ      0
CASINJRR    0
CASKLD      0
CASKLDRR    0
CAUSE       0
CNTYCD      0
CONDUCTR    0
COUNTY      0
DAY         0
DUMMY3      0
EMPTYF1     0
EMPTYF2     0
EMPTYP1     0
EMPTYP2     0
ENGRS       0
EQATT       0
EQPDMG      0
EVACUATE    0
HEADEND1    0
           ..
RMAN1       0
RMAN2       0
RR3         0
RRCAR1      0
RREM1       0
RREM2       0
RREMPINJ    0
RREMPKLD    0
STATE       0
STATION     0
STCNTY      0
TEMP        0
TIMEHR      0
TIMEMIN     0
TONS        0
TOTINJ      0
TOTKLD      0
TRKCLAS     0
TRKDMG      0
TRKNAME     0
TRNSPD      0
TYPE        0
TYPEQ       0
TYPRR       0
TYPSPD      0
TYPTRK      0
VISIBLTY    0
WEATHER     0
YEAR        0
YEAR4       0
Length: 87, dtype: int64

## Categorical Variables

Categorical variables must be treated differently from quantitative variables. Their effects on the modeling
and machine learning depend on correctly coding them for the analysis. 

Categorical variables can be entered in many diffent ways. Data scientists should inspect the coding 
of these variables to insure correctness, approrpriateness for modeling, and easy interpretation.

### In Class Exercise

1. Look at the data types for the variables.
2. Which variables are categorical? Look at some of their value_counts()
3. Which variables are categorical but are coded as integers? Which variables are integers but coded as objects?
4. Replace integer values for TYPE with the text labels. Repeat for one other variable.

In [14]:
#1 The data types
accidents_clean_df.dtypes

ACCAUSE      object
ACCDMG      float64
ACCTRK      float64
ACCTRKCL     object
AMPM         object
CABOOSE1    float64
CABOOSE2    float64
CARNBR1      object
CARS        float64
CARSDMG     float64
CARSHZD     float64
CASINJ      float64
CASINJRR    float64
CASKLD      float64
CASKLDRR    float64
CAUSE        object
CNTYCD      float64
CONDUCTR     object
COUNTY       object
DAY           int64
DUMMY3        int64
EMPTYF1     float64
EMPTYF2     float64
EMPTYP1     float64
EMPTYP2     float64
ENGRS        object
EQATT        object
EQPDMG      float64
EVACUATE    float64
HEADEND1    float64
             ...
RMAN1       float64
RMAN2       float64
RR3          object
RRCAR1       object
RREM1       float64
RREM2       float64
RREMPINJ    float64
RREMPKLD    float64
STATE         int64
STATION      object
STCNTY       object
TEMP        float64
TIMEHR      float64
TIMEMIN     float64
TONS        float64
TOTINJ      float64
TOTKLD      float64
TRKCLAS      object
TRKDMG      float64
TRKNAME      object
TRNSPD        int64
TYPE          int64
TYPEQ        object
TYPRR        object
TYPSPD       object
TYPTRK      float64
VISIBLTY      int64
WEATHER       int64
YEAR          int64
YEAR4         int64
Length: 87, dtype: object

In [37]:
#2.Which variables are categorical? Look at some of their value_counts()
cat_list = accidents_clean_df.columns[accidents_clean_df.dtypes == 'object']

for name in cat_list:
    print('Variable Name:'+name)
    print(accidents_clean_df[name].value_counts())
    print("")

Variable Name:ACCAUSE
T110    2350
H702    2068
H306    1478
T314    1025
H307     994
T220     946
M405     723
T207     699
H704     612
H503     548
H607     526
T221     525
H302     517
M404     478
M411     457
H018     457
T111     429
T109     424
H303     422
T210     411
H318     409
H020     403
E53C     403
T202     393
M599     393
H312     390
T102     372
T311     362
M101     359
T001     350
        ...
H821       2
E30L       2
E81C       2
E02L       2
H899       2
E67L       2
S008       1
E33L       1
S001       1
E52L       1
E04L       1
H515       1
E31L       1
E24L       1
E61L       1
H304       1
E36L       1
E63L       1
E19C       1
E25L       1
E4TL       1
E40L       1
E35L       1
E03L       1
E01C       1
H99D       1
H517       1
M303       1
S101       1
E34L       1
Name: ACCAUSE, Length: 359, dtype: int64

Variable Name:ACCTRKCL
1    24957
4     3844
2     3675
3     2609
X     1742
5      961
6      177
7      136
8       55
9       11
Name: ACCTRKCL, dtype: int64

Variable Name:AMPM
PM    19724
AM    18443
Name: AMPM, dtype: int64

Variable Name:CARNBR1
1.0         1465
999999.0      37
101.0         16
2001.0        11
208.0         11
2006.0        11
2005.0        11
2038.0        11
7.0           11
2017.0        11
1002.0        10
654.0         10
656.0         10
928.0         10
924.0         10
1502.0        10
2033.0        10
102.0         10
5.0           10
2008.0        10
2003.0         9
2028.0         9
2030.0         9
901.0          9
2029.0         9
2037.0         9
11.0           9
131.0          9
2024.0         8
105.0          8
            ...
301758.0       1
39612.0        1
170682.0       1
711858.0       1
912830         1
010673         1
629347.0       1
010061         1
825958.0       1
105067.0       1
70910.0        1
237474         1
070220         1
096363         1
760446.0       1
301702.0       1
251120         1
114002.0       1
009401         1
39572.0        1
000023         1
238871         1
137262.0       1
760487.0       1
301736.0       1
301738.0       1
170669.0       1
301743.0       1
826039.0       1
93301.0        1
Name: CARNBR1, Length: 30949, dtype: int64

Variable Name:CAUSE
T110    2350
H702    2068
H306    1478
T314    1025
H307     994
T220     946
M405     723
T207     699
H704     612
H503     548
H607     526
T221     525
H302     517
M404     478
M411     457
H018     457
T111     429
T109     424
H303     422
T210     411
H318     409
H020     403
E53C     403
T202     393
M599     393
H312     390
T102     372
T311     362
M101     359
T001     350
        ...
H821       2
E30L       2
E81C       2
E02L       2
H899       2
E67L       2
S008       1
E33L       1
S001       1
E52L       1
E04L       1
H515       1
E31L       1
E24L       1
E61L       1
H304       1
E36L       1
E63L       1
E19C       1
E25L       1
E4TL       1
E40L       1
E35L       1
E03L       1
E01C       1
H99D       1
H517       1
M303       1
S101       1
E34L       1
Name: CAUSE, Length: 359, dtype: int64

Variable Name:CONDUCTR
1.0    28523
0.0     6330
1       1838
2.0      853
0        521
3.0       52
2         42
3          3
4.0        3
5.0        2
Name: CONDUCTR, dtype: int64

Variable Name:COUNTY
COOK              1637
JEFFERSON         1185
HARRIS             871
LINCOLN            598
SAN BERNARDINO     476
TARRANT            429
SHELBY             419
LOS ANGELES        417
JACKSON            406
WYANDOTTE          365
HAMILTON           342
HUDSON             328
ST CLAIR           304
FRANKLIN           289
LAKE               286
ERIE               269
FULTON             260
DENVER             250
PULASKI            249
MARION             241
MONTGOMERY         241
ST LOUIS           235
PHILADELPHIA       235
BEXAR              227
CADDO              226
ALBANY             222
TULSA              221
FAIRFIELD          220
DOUGLAS            216
MULTNOMAH          213
                  ...
CHARLES CITY         1
AUTAUGA              1
STOKES               1
OWEN                 1
ALPENA               1
HUBBARD              1
LA PLATA             1
GARLAND              1
KING WILLIAM         1
CLEBURNE             1
PEPIN                1
GOLIAD               1
CONEJOS              1
ANDREW               1
CHURCHILL            1
SCURRY               1
RAVALLI              1
HEMPHILL             1
PEND OREILLE         1
CALVERT              1
OCONEE               1
KLEBERG              1
RADFORD              1
WASHBURN             1
TELFAIR              1
OLDHAM               1
INDIAN RIVER         1
STOREY               1
TIOGA                1
PLEASANTS            1
Name: COUNTY, Length: 1401, dtype: int64

Variable Name:ENGRS
1.0    29218
0.0     4262
2.0     2141
1       1859
0        366
2        177
3.0      120
3         11
4.0       10
9.0        1
8.0        1
5.0        1
Name: ENGRS, dtype: int64

Variable Name:EQATT
Y    34970
N     3197
Name: EQATT, dtype: int64

Variable Name:INCDTNO
1             17
2              8
0301           5
0201           5
01             5
0001           5
GFRR1          4
001            4
0202           3
200801         3
0101           3
0107           3
2002030        3
0401           3
200201         3
0108           3
12001          3
032015         3
20051          3
4              3
107            3
201201         3
0402           3
GFRR01         3
7              3
0102           3
SW101          2
AI100          2
119041         2
042512         2
              ..
1209NP016      1
082105RE       1
108799         1
0605EP008      1
GC0605127      1
041711         1
0704HO023      1
228587         1
119221         1
0206WH006      1
D5211509       1
080323015      1
100130016      1
ID070570       1
0602UT010      1
D22062413      1
2005111903     1
2007021452     1
GC0606111      1
062602R004     1
0201TS004      1
0503CB015      1
000019956      1
073480         1
NW0514106      1
000035714      1
2003129        1
CO0501111      1
SF0105108      1
0012012UP      1
Name: INCDTNO, Length: 37901, dtype: int64

Variable Name:INCDTNO3
INDUSTRY      1963
INDUSTRY1       46
ZZZZZZZZZZ      31
1               18
2                8
0001             6
0301             5
01               5
0201             4
001              4
201201           3
7                3
GFRR1            3
0202             3
GFRR01           3
3                3
107              3
0102             3
100107           3
200801           3
200301           3
200201           3
0101             3
20101            3
20051            3
12001            3
4                3
2002030          3
0108             3
153              2
              ...
027656           1
SW0103111        1
0205RS002        1
000026414        1
TX0604108        1
101029           1
IR130311         1
034138           1
NE0816106        1
097911           1
IC070682         1
099402           1
000090549        1
000074784        1
075898           1
TC0212120        1
CH0602107        1
AO0501106        1
120856           1
1101PR022        1
NW0802104        1
TX0910115        1
000006349        1
1215LK004        1
SW1204105        1
207186           1
000151486        1
EQ20160501       1
OP102207NO       1
0012012UP        1
Name: INCDTNO3, Length: 35876, dtype: int64

Variable Name:RAILROAD
UP      9978
BNSF    7626
CSX     4944
NS      3577
ATK     1141
KCS      993
IC       587
MNCW     487
NJTR     463
CRSH     389
WC       250
BRC      220
MRL      220
DME      217
IHB      215
ICE      184
WE       179
SOO      179
LI       168
ALS      164
SEPA     144
FEC      139
GTW      133
EJE      129
TASD     120
SKOL     119
IAIS     111
PTRA     111
TRRA      90
KRR       79
        ...
COEH       1
NEGS       1
SCIH       1
WRRC       1
RSM        1
PTR        1
EFRR       1
CBCX       1
MNRR       1
RLAX       1
PN         1
BEEM       1
CGBX       1
GRD        1
MS         1
FCEN       1
YSLR       1
WVRR       1
CBGR       1
SFBR       1
PRL        1
FEVR       1
EACH       1
CLNA       1
MNC        1
GSM        1
LRPA       1
ESHR       1
TN         1
EWR        1
Name: RAILROAD, Length: 525, dtype: int64

Variable Name:RR3
UP      9355
BNSF    7112
CSX     4521
NS      3402
ATK     1065
KCS     1009
IC       570
MNCW     507
NJTR     401
CRSH     367
BRC      266
IHB      225
WC       219
MRL      215
DME      198
ALS      172
LI       170
SOO      165
WE       165
ICE      161
FEC      141
TASD     132
EJE      129
SKOL     121
SEPA     118
GTW      112
TRRA     107
PTRA     106
IAIS     104
KRR       83
        ...
YCIJ       1
DUPZ       1
XSQE       1
XTGM       1
SGEQ       1
ZHLE       1
DSM        1
SNC        1
XGRT       1
BEEM       1
XPUR       1
ZBSN       1
LBWR       1
KELX       1
XCTN       1
XSMF       1
XFSM       1
YSLR       1
ZALA       1
FCEN       1
AMCJ       1
PJPZ       1
XRAV       1
XACF       1
AMAQ       1
BJSZ       1
QCQ        1
BEQQ       1
XTCB       1
XCST       1
Name: RR3, Length: 1694, dtype: int64

Variable Name:RRCAR1
BNSF    3993
UP      2281
CSXT    1482
NS      1194
GATX    1048
UTLX    1018
AMT      825
TTGX     689
DTTX     619
TILX     612
BN       601
ACFX     505
MNCW     443
CEFX     438
MP       429
NJTR     420
KCS      420
ETTX     344
NAHX     302
CNW      297
ADMX     289
TTZX     260
NOKL     256
CN       252
SHPX     233
FURX     230
SP       221
NATX     218
ATSF     209
TTAX     203
        ...
KCX        1
SL         1
JTXX       1
DLW        1
DIWX       1
MCNW       1
NCY        1
NOW        1
NAYX       1
CYX        1
CS         1
JE 0       1
GADX       1
GRTK       1
MSIX       1
JT 0       1
EKJX       1
CHGG       1
SAUX       1
NCOX       1
NELX       1
RDRX       1
CATH       1
LT         1
CRNE       1
BPOX       1
SEKX       1
PKTX       1
DJSX       1
WGCS       1
Name: RRCAR1, Length: 1883, dtype: int64

Variable Name:STATION
KANSAS CITY           673
HOUSTON               593
CHICAGO               500
NORTH PLATTE          450
MEMPHIS               354
NORTHLAKE             282
DENVER                255
EAST ST LOUIS         219
BEDFORD PARK          214
PHILADELPHIA          211
PORTLAND              209
NEWARK                206
PINE BLUFF            206
SAN ANTONIO           202
TULSA                 199
BIRMINGHAM            199
SHREVEPORT            198
RIVERDALE             194
NORTH LITTLE ROCK     192
FORT WORTH            190
ATLANTA               187
MOBILE                185
AVON                  180
SELKIRK               179
CINCINNATI            169
BEAUMONT              162
KEARNY                156
COUNCIL BLUFFS        156
COLUMBUS              149
DECATUR               149
                     ...
DRYDEN                  1
SMILEY                  1
SARITA                  1
TUCUMCARI               1
WHITE HOUSE             1
SAN MATEO               1
LOSTWOOD                1
SHEREVEPORT             1
CALLAWAY                1
ABSARAKA                1
GOALS                   1
30TH STREET PHILA.      1
LITTLEROCK              1
KREMMLING               1
WRAY                    1
CLIMAX                  1
HALPIN                  1
LOWRY                   1
MACEO                   1
MERWIN                  1
SANTA ROSA              1
NORTH BILLERICA         1
SCROGGINS               1
SHIELDS                 1
NEW PARIS               1
CROYDEN                 1
MARCEL                  1
CHESTERTON              1
PRIEST RIVER            1
LEACH, KY               1
Name: STATION, Length: 6291, dtype: int64

Variable Name:STCNTY
17C031    1647
48C201     870
06C071     476
31C111     470
48C439     429
06C037     417
20C209     365
47C157     355
34C017     328
01C073     311
29C095     286
17C163     284
08C031     250
05C119     242
42C101     235
13C121     233
18C089     233
48C029     227
22C017     224
40C143     221
48C245     219
09C001     217
41C051     213
05C069     212
36C001     202
39C061     200
01C097     192
27C053     189
34C013     184
36C029     179
          ...
18C149       1
28C105       1
12C131       1
53C047       1
49C015       1
46C069       1
29C211       1
20C171       1
01C029       1
26C153       1
47C047       1
19C065       1
55C015       1
36C123       1
48C163       1
17C193       1
20C203       1
27C057       1
13C131       1
51C520       1
01C001       1
47C123       1
05C063       1
08C021       1
18C065       1
13C019       1
05C131       1
05C147       1
47C023       1
01C027       1
Name: STCNTY, Length: 2271, dtype: int64

Variable Name:TRKCLAS
1    25145
4     3783
2     3586
3     2580
X     1787
5      921
6      167
7      133
8       54
9       11
Name: TRKCLAS, dtype: int64

Variable Name:TRKNAME
YARD                    3818
SINGLE MAIN             1756
SINGLE MAIN TRACK       1495
MAIN                    1434
INDUSTRY                 691
MAIN LINE                517
MAIN TRACK               387
MAINLINE                 386
NO 1 MAIN                300
SIDING                   281
LEAD                     278
NO 2 MAIN                246
2                        161
1                        144
MAIN 1                   143
3                        128
YARD TRACK               114
TRACK 1                  110
MAIN 2                   109
MAIN 1 TRACK             104
NO. 1 MAIN               102
TRACK 3                  101
TRACK 2                   96
YRD CRS OVR               96
NO. 2 MAIN                95
4                         88
#1                        88
MAIN 2 TRACK              85
#2 MAIN                   85
TRACK 4                   84
                        ...
5164                       1
WEST YARD 12               1
TRACK W100                 1
HOOSE TRUCK                1
MARITH SIDING              1
17 TRACK                   1
PURINS MILL #3             1
WOOD LEAD                  1
OBANNON WYE                1
SINGLE TRACK TRACK         1
TW LEAD                    1
GREENE JCT INTER           1
NEODESHA/MOLINE CONN       1
DOUBLE-MAIN TRACK 4        1
ECONOMY TRACK              1
6097                       1
7198                       1
1 DIXIE                    1
TRACK CE09                 1
B & L LEAD                 1
BAYONNE #3                 1
STE GENEVIEVE IND LD       1
940 RAIL                   1
IND 014 WEST TRACK         1
TRACK 747 LEAD             1
LMIC 1                     1
BRUCETON MAIN              1
PARSONS 5      P05         1
SCI LEAD                   1
DAVIS TRACK                1
Name: TRKNAME, Length: 14576, dtype: int64

Variable Name:TYPE
Defailment      27429
Other            4321
SeeNarrative     2127
Side             1603
Obstruction       991
Raking            720
Fire              454
Rearend           298
Headon            125
BrokenTrain        80
Explosive          14
GradeX              5
Name: TYPE, dtype: int64

Variable Name:TYPEQ
Freight          17988
Yard             12910
CutofCars         1950
Light             1719
PassengerPull     1188
Single            1048
Commuter           363
Maint of Way       311
Maint              254
Work               252
EMU                101
CommuterPush        38
PassengerPush       28
DMU                 17
Name: TYPEQ, dtype: int64

Variable Name:TYPRR
1L    28426
3L     5007
3      1722
3S     1459
1      1137
2       262
2L      154
Name: TYPRR, dtype: int64

Variable Name:TYPSPD
E    23634
R    14533
Name: TYPSPD, dtype: int64

In [41]:
#3. Which variables are categorical but are coded as integers?  
int_list = accidents_clean_df.columns[accidents_clean_df.dtypes == 'int']
for name in int_list:  
    if accidents_clean_df[name].nunique()<20:
        print('Variable Name:'+name)
        print(accidents_clean_df[name].value_counts())
        print("")
#ANS: IYR, IYR3, YEAR, YEAR4,MONTH, REGION, STATE, VISIBLTY, WEATHER, YEAR, YEAR4

Variable Name:DUMMY3
0    38167
Name: DUMMY3, dtype: int64

Variable Name:IMO
7     3452
3     3322
8     3315
1     3305
6     3283
12    3218
2     3146
5     3128
4     3057
9     3042
10    3029
11    2870
Name: IMO, dtype: int64

Variable Name:IMO3
7     3452
3     3322
8     3315
1     3305
6     3283
12    3218
2     3146
5     3128
4     3057
9     3042
10    3029
11    2870
Name: IMO3, dtype: int64

Variable Name:IYR
4     3385
5     3266
1     3023
3     3019
6     2998
2     2738
7     2693
8     2435
11    1996
15    1906
9     1902
10    1884
13    1800
14    1775
12    1712
16    1635
Name: IYR, dtype: int64

Variable Name:IYR3
4     3385
5     3266
1     3023
3     3019
6     2998
2     2738
7     2693
8     2435
11    1996
15    1906
9     1902
10    1884
13    1800
14    1775
12    1712
16    1635
Name: IYR3, dtype: int64

Variable Name:JOINTCD
1    38167
Name: JOINTCD, dtype: int64

Variable Name:MONTH
7     3452
3     3322
8     3315
1     3305
6     3283
12    3218
2     3146
5     3128
4     3057
9     3042
10    3029
11    2870
Name: MONTH, dtype: int64

Variable Name:REGION
5    7661
4    6204
6    5330
3    5090
2    4481
8    3368
7    3031
1    3002
Name: REGION, dtype: int64

Variable Name:VISIBLTY
2    18081
4    16258
3     2016
1     1812
Name: VISIBLTY, dtype: int64

Variable Name:WEATHER
1    25307
2     8757
3     2738
6      856
4      431
5       78
Name: WEATHER, dtype: int64

Variable Name:YEAR
4     3385
5     3266
1     3023
3     3019
6     2998
2     2738
7     2693
8     2435
11    1996
15    1906
9     1902
10    1884
13    1800
14    1775
12    1712
16    1635
Name: YEAR, dtype: int64

Variable Name:YEAR4
2004    3385
2005    3266
2001    3023
2003    3019
2006    2998
2002    2738
2007    2693
2008    2435
2011    1996
2015    1906
2009    1902
2010    1884
2013    1800
2014    1775
2012    1712
2016    1635
Name: YEAR4, dtype: int64

Index(['DAY', 'DUMMY3', 'HIGHSPD', 'IMO', 'IMO3', 'IYR', 'IYR3', 'JOINTCD',
       'MONTH', 'POSITON1', 'POSITON2', 'REGION', 'STATE', 'TRNSPD',
       'VISIBLTY', 'WEATHER', 'YEAR', 'YEAR4'],
      dtype='object')

In [43]:
#3. Which variables are integers but coded as objects?
#based on qn2
#ANS: CARNBR1, CONDUCTR, ENGRS

In [16]:
#4. Replace values TYPE
accidents_clean_df['TYPE']=accidents_clean_df['TYPE'].replace(range(1,14),
                                    ["Defailment","Headon","Rearend","Side","Raking",
                                    "BrokenTrain","Hwy-Rail","GradeX","Obstruction",
                                    "Explosive","Fire","Other","SeeNarrative"])
accidents_clean_df['TYPE'].value_counts()

Defailment      27429
Other            4321
SeeNarrative     2127
Side             1603
Obstruction       991
Raking            720
Fire              454
Rearend           298
Headon            125
BrokenTrain        80
Explosive          14
GradeX              5
Name: TYPE, dtype: int64

In [17]:
# Map for TYPEQ
# Taken from Rail Equipment Accident/ Incident Report Form

map_typeq = {1:"Freight",2:"PassengerPull",3:"Commuter",4:"Work",5:"Single",
            6:"CutofCars",7:"Yard",8:"Light",9:"Maint",'A':"Maint of Way",
            '1':"Freight",'2':"PassengerPull",'3':'Commuter','4':"Work",'5':"Single",
            '6':"CutofCars",'7':"Yard",'8':"Light",'9':"Maint",'B':"PassengerPush",'C':"CommuterPush",
            'D':"EMU",'E':"DMU"}
accidents_clean_df['TYPEQ'] = accidents_clean_df['TYPEQ'].map(map_typeq)
accidents_clean_df['TYPEQ'].value_counts()

Freight          16604
Yard             12910
CutofCars         1950
Light             1719
PassengerPull     1188
Single            1048
Commuter           363
Maint of Way       311
Maint              254
Work               252
EMU                101
CommuterPush        38
PassengerPush       28
DMU                 17
Name: TYPEQ, dtype: int64